# Gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.env

.venv/

venv/

.vscode/

.DS_Store
.env
.env.example
.env.local
.env.production
.env.staging

env/

env.example
env.local
env.production
env.staging

venv.example
venv.local
venv.production
venv.staging

*.sqlite3
*.sqlite
*.db
*.db3
*.db2
*.db4
*.db5
*.db6
*.db7
*.db8
*.db9

.vscode/

data/

*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.ico
*.svg
*.webp
*.txt
*.csv
*.xlsx
*.xls
*.pdf
*.doc
*.docx
*.ppt
*.pptx
*.mp4